<form xmlns:th="http://www.thymeleaf.org" th:action="@{~/kelurahan/save}" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title" id="exampleModalLabel">Kelurahan</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" th:value="${kelurahan.nama}" class="form-control" placeholder="name" />
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="alamat" class="form-label">Description</label>
                <input type="text" id="alamat" name="alamat" th:value="${kelurahan.alamat}" class="form-control" placeholder="alamat" />
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </div>
    </div>
</form>