<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Table Start -->
<div layout:fragment="content">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto p-3">Kelurahan List</h3>
            <div class="ms-auto" role="group">
                <button class="btn btn-danger" id="btn-add" th:href="@{~/kelurahan/add}">Add Kelurahan</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data, no :${kelurahan}">
                <th scope="row" th:text="${no.index + 1}">1</th>
                <td th:text="${data.nama}"></td>
                <td th:text="${data.alamat}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Table End -->
<th:block th:fragment="script">
    <script>
        $(document).ready(function (){
            $(function () {
                // btn add click
                $("#btn-add").click(function () {
                    var url = $(this).attr('href');
                    showModal(url, ' ');
                });
            });

            function showModal(url){
                $.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'html',
                    success: function (result){
                        $('#main-modal').find('.modal-content').html(result);

                        $('#main-modal').modal('show');
                    }
                });
            }
        });
    </script>
</th:block>
</body>
</html>